

.container {
  min-height: 100vh;
  padding: 150px 0 0 200px;
  align-items: center;
  justify-content: center;
}

a {
  color: #00aeff;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  color: #fff;
}

a:focus {
  color: #fff;
}

.button {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  width: 250px;
  font-weight: 700;
  padding: 15px;
  border: 2px solid #00aeff;
  margin: 0 0 20px 0 ;
  position: relative;
justify-content: center;
  left: 25%;
}


.button-center:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background: #00aeff;
  z-index: -1;
  -webkit-transition: 0.5s all ease;
  transition: all 0.5 ease;
}

.button-center:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button-left:before {
    content: "";
    position: absolute;
    background: #00aeff;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.5s all ease; 
    transition: .5s all ease;
}

.button-left:hover:before{
    left: 0;
    right: 0;
    opacity: 1;
}


.button-right:before{
    content: "";
    position: absolute;
    background: #00aeff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    z-index: -1;
    opacity: 0;
    transition: .5s all ease;
}

.button-right:hover:before{
    left: 0;
    right: 0;
    opacity: 1;
}


.button-right:before{
    content: "";
    position: absolute;
    background: #00aeff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    z-index: -1;
    opacity: 0;
    transition: .5s all ease;
}

.button-right:hover:before{
    left: 0;
    right: 0;
    opacity: 1;
}





.button-top:before{
    content: "";
    position: absolute;
    background: #00aeff;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: .5s all ease;
}

.button-top:hover:before{
    top: 0;
    opacity: 1;
}




.button-bottom:before{
    content: "";
    position: absolute;
    background: #00aeff;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: .5s all ease;
}

.button-bottom:hover:before{
    bottom: 0;
    opacity: 1;
}










